.navbar {
	background-color: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	min-height: 100px;
}

h1 {
	font-size: 66px;
	font-weight: 600px;
	line-height: 80px;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

p {
	font-size: 20px;
	line-height: 1.8px;
}

section {
    padding: 120px 0;
}

a:hover {
    text-decoration: none;
}

.topmargin-xs {
	margin-top: 15px;
}

.topmargin-sm {
	margin-top: 30px;
}

.topmargin-lg {
	margin-top: 60px;
}

/* Button Section */

.btn {
	font-size: 14px;
	padding: 15px 26px;
	min-width: 160px;
	border-radius: 2px;
	display: inline-block;
}

.btn-green {
	background-color: green;
	color: black;
	border: 0 solid green;
}

.btn i {
	font-size: 14px;
	margin-left: 5px;
}

/* End Button Section*/

/* Logo Section */

.logo-brand {
	min-width: 180px;
	max-width: 200px;
}

/* End Logo Section */

/* Navbar Section */

.navbar {
	background-color: rgba(255, 255, 255, 0.932) !important;
}

.nav-link {
	color: #1a1a1a;
}

.nav-link:hover {
	color: rgba(12, 77, 23, 0.945);
}

.dropdown-item:hover {
	color: rgba(28, 90, 38, 0.945);
}

.navbar-toggler {
	font-size: 40px;
}

.navbar-toggler:focus {
	outline: none;
}

/* End Navbar Section */

.contacto {
	min-width: 200px;
	min-height: 200px;
}

.container-text {
	color: black;
	margin: 0 auto 60px auto;
	text-align: center;
	max-width: 800px;
}

.categoria-container {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.categoria-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
	transition: all 0.8s;
	
}

.categoria-container:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.marcas-catalogo img {
	width: 700px;
	height: 350px;
}

.categoria-details {
	position: absolute;
    top: 15px;
    left: 380px;
    z-index: 9000;
}

.categoria-details a h2, .categoria-details a p {
    color: #045008;
}

#hero {
	background-image: url("../img/prueba.png");
	background-size: cover;
	padding-top: 200px;
	min-height: 600px;
	color: #ffffff;
}

/* Responsive Section */

@media (max-width: 575.98px) {
	h1 {
		font-size: 40px;
		line-height: normal;
	}

	p {
		font-size: 14px;
		line-height: normal;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	p {
		font-size: 15px;
		line-height: normal;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	p {
		font-size: 16px;
		line-height: normal;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	p {
		font-size: 17px;
		line-height: normal;
	}
}

/* End Responsive Section */